pymc>=5.7.*
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
"jax[cuda11_pip]"
numpyro
blackjax
graphviz
"dask[complete]"
scikit-learn
seaborn
requests>=2.31.*
pytest>=7.4.*
coverage>=7.2.7
pylint>=2.17.4
pytest-cov>=4.1.0
flake8>=6.0.*